<div class="container col-md-12">
    
    
    <br />
    <br />
    <br />
    <br />
    <div class="two-pane col-md-12">
        <div class="two-pane-left-pane col-md-3">
            <h1>About us</h1>
        </div>
        <div class="two-pane-right-pane col-md-9">
            <p>This site was created for a ruby on rails course from Udemy.  It literally serves no other purpose.
            </p>
        </div>
    </div>
    
    <%= link_to "Home", root_path %>
</div>