<div class="container col-md-12">

    <br />
    <br />
    <br />
    <br />
    <div class="two-pane col-md-12">
        <div class="two-pane-left-pane col-md-3">
            <h1>I Blog</h1>
        </div>
        <div class="two-pane-right-pane col-md-9">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sem nisl, commodo vel tempus vitae, consequat in velit. Vestibulum efficitur est at tempus accumsan. Donec sit amet metus commodo, condimentum metus vitae, pretium erat. Sed sed gravida arcu. In sodales, diam vitae pellentesque lacinia, ante dui hendrerit diam, eget dapibus diam lectus ac tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi non risus id odio malesuada eleifend eget in nibh. Phasellus ullamcorper elementum viverra. Ut id sapien arcu.
            <br />
            Morbi varius purus ac sem facilisis, ac rutrum dolor tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras tincidunt pretium odio a fermentum. Morbi in sem dignissim, fringilla mi sit amet, cursus lorem. Suspendisse mollis mauris eget tristique maximus. Vestibulum lacus risus, aliquet eget dignissim vel, cursus eu lectus. Donec eget diam mi.
            </p>
        </div>
    </div>

    <%= link_to "About", about_path %>
</div>